$fontSizes: (small: (bigg: 30px,
    big: 28px,
    normal: 24px,
    small: 20px),
  normal: (bigg: 32px,
    big: 30px,
    normal: 26px,
    small: 22px),
  bi: (bigg: 34px,
    big: 32px,
    normal: 28px,
    small: 24px));
$themes: (light: ( // 主色系
    bgColor: white,
    cardBgColor: white,
    // brightColor: #F7B500,
    brightColor: #d23f31,
    blackColor: #1b1b2f,
    whiteColor: white,
    // 文本字体颜色
    titleColor: #23374d,
    subTitleColor: #e5e5e5,
    grayFontColor: gray,
    // 图标颜色
    iconColor: #d23f31,
    blur: 10px,
    cardRadius: 20px,
    lineColor: #f0f0f0,
    shadowColor: rgba(156, 156, 156, 0.12)),
  dark: ( // 主色系
    bgColor: #0e0e0e,
    cardBgColor: #191d27,
    brightColor: #d23f31,
    blackColor: #0e0e0e,
    whiteColor: #191d27,
    // 文本字体颜色
    titleColor: #e5e5e5,
    subTitleColor: #e5e5e5,
    grayFontColor: lightGray,
    // 图标颜色
    iconColor: #d23f31,
    blur: 10px,
    cardRadius: 20px,
    lineColor: #292a30,
    shadowColor: rgba(156, 156, 156, 0)),
  tikTok: ( // 主色系
    bgColor: #171c1f,
    cardBgColor: #191d27,
    brightColor: #27f1ec,
    blackColor: #0e0e0e,
    whiteColor: #191d27,
    // 文本字体颜色
    titleColor: #fa1953,
    subTitleColor: #e5e5e5,
    grayFontColor: lightGray,
    // 图标颜色
    iconColor: #fa1953,
    blur: 10px,
    cardRadius: 20px,
    lineColor: #292a30,
    shadowColor: rgba(156, 156, 156, 0)),
  realMan: ( // 主色系
    bgColor: #f6f6f6,
    cardBgColor: white,
    // brightColor: #F7B500,
    brightColor: #91d18b,
    blackColor: #1b1b2f,
    whiteColor: white,
    // 文本字体颜色
    titleColor: #e05297,
    subTitleColor: #e5e5e5,
    grayFontColor: gray,
    // 图标颜色
    iconColor: #e05297,
    blur: 10px,
    cardRadius: 20px,
    lineColor: #f0f0f0,
    shadowColor: rgba(156, 156, 156, 0.12)),
  gayhub: ( // 主色系
    bgColor: #faf4ff,
    cardBgColor: white,
    // brightColor: #F7B500,
    brightColor: #bc6ff1,
    blackColor: #1b1b2f,
    whiteColor: white,
    // 文本字体颜色
    titleColor: #52057b,
    subTitleColor: #e5e5e5,
    grayFontColor: gray,
    // 图标颜色
    iconColor: #892cdc,
    blur: 10px,
    cardRadius: 20px,
    lineColor: #f0f0f0,
    shadowColor: rgba(156, 156, 156, 0.12)));
